### NotepadPP ###
# Notepad++ backups #
*.bak
*.txt

### Old Versions ###
*.old

### Windows ###
# Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msix
*.msm
*.msp

# Windows shortcuts
*.lnk

# ignore node dependency directories
node_modules/

# ignore log files and databases
*.log
*.sql
*.sqlite
login/logo-150px.png
images/site-logos/logo-150px-no-txt.png
external-cctv/small-logo.png
